SELECT * FROM MENU
SELECT * FROM SUBMENU WHERE MENU = 1 order by descripcion


-- NUNCA FUNCIONO TIPOS DE SERVICIO
update  [MODELADOR].[dbo].[SUBMENU] set estado = 'e' WHERE MENU = 1 AND SUBMENU = 3

-- TIPOS DE ORDEN DE SERVICIO
INSERT INTO [MODELADOR].[dbo].SUBMENU SELECT '1', '48', 'TIPO DE SERVICIO', 'tipserv.asp', NULL, 'A'
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'SISTEMAS',   1,48,1
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'RBENAVENte', 1,48,1
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'MHINOJO',    1,48,1

-- ORDENES DE SERVICIO TALLERES
SELECT * FROM SUBMENU WHERE MENU = 12 
INSERT INTO [MODELADOR].[dbo].SUBMENU SELECT '12', '13', 'SERVICIO TALLERES', 'OS.asp', NULL, 'A'
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'SISTEMAS',   12,13,1
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'RBENAVENte', 12,13,1
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'MHINOJO',    12,13,1
